include LICENSE
include README.md
recursive-include feedback/static *
recursive-include feedback/templates *
recursive-include feedback/locale *
recursive-include feedback/migrations *
recursive-include feedback/templatetags *