{% load i18n %}
<div class="feedback-panel-list-item" data-feedback-id="{{ feedback.pk }}">
    <div class="feedback-panel-header">
        <div class="feedback-icon">
            {% if feedback.positive %}
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" viewBox="0 0 16 16" class="icon-positive">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    <path d="M4.285 9.567a.5.5 0 0 1 .683.183A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5m4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5"/>
                </svg>
            {% else %}
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" viewBox="0 0 16 16" class="icon-negative">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    <path d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.5 3.5 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.5 4.5 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5m4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5"/>
                </svg>
            {% endif %}
        </div>
        <div class="feedback-text">
            {% if feedback.message %}{{ feedback.message }}{% endif %}
        </div>
    </div>
    <div class="feedback-panel-footer">
        <div class="feedback-date">
            {{ feedback.ip_address }} | {{ feedback.created_at|date }}
        </div>
        <div class="feedback-delete">
            {% url "feedback_api_delete" feedback.id as delete_url%}
            <a href="{{ delete_url }}"
                hx-get="{{ delete_url }}"
                hx-target="closest .feedback-panel-list-item"
                hx-swap="outerHTML"
                hx-trigger="click">
                
                {% translate "Delete" %}
            </a>
        </div>
    </div>
</div>
